<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Apply a filter</h2>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="cancelDialog()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </form>

    <md-dialog-content layout-padding>
        <span />
        <md-input-container class="md-block">
            <label>Resource set</label>
            <input ng-model="filter.resourceSet"/>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Resource key</label>
            <input ng-model="filter.resourceKey"/>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Value</label>
            <input ng-model="filter.value"/>
        </md-input-container>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="applyFilter(filter)">Apply</md-button>
        <md-button ng-click="cancelDialog()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>