<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Apply a filter</h2>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="cancelDialog()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </form>

    <md-dialog-content layout-padding>
        <span />
        <md-input-container class="md-block">
            <label>Resource set</label>
            <input ng-model="criteria.resourceSet" />
        </md-input-container>

        <md-input-container class="md-block">
            <label>Resource key</label>
            <input ng-model="criteria.resourceKey" />
        </md-input-container>

        <md-input-container class="md-block">
            <label>Value</label>
            <input ng-model="criteria.value" />
        </md-input-container>
    </md-dialog-content>
</md-dialog>