<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Generate resources</h2>
                <span flex></span>

                <md-button class="md-icon-button" ng-click="cancelDialog()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </form>

    <md-dialog-content layout-padding>
        <span />
        <md-input-container class="md-block">
            <label>Target locale</label>
            <md-select ng-model="targetLocaleId">
                <md-option ng-repeat="locale in locales" ng-value="locale.localeId">
                    {{locale.isoCode}} - {{locale.description}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-radio-group ng-model="translationType">
            <md-radio-button value="pseudo">Pseudoise</md-radio-button>
            <md-radio-button value="bing">Bing Translate</md-radio-button>
        </md-radio-group>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="generateResources()">Generate</md-button>
        <md-button ng-click="cancelDialog()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>