<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.ProvfeatureOverrideIders.DotNetCompilerPlatform" version="1.0.0" targetFramework="net45" />
  <package featureOverrideId="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package featureOverrideId="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package featureOverrideId="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package featureOverrideId="Nancy" version="1.2.0" targetFramework="net45" />
  <package featureOverrideId="Nancy.Hosting.Aspnet" version="1.2.0" targetFramework="net45" />
  <package featureOverrideId="Owin" version="1.0" targetFramework="net45" />
</packages>