<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="ApplicationTitle" value="Lemonade" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="Lemonade" providerName="System.Data.SqlClient" connectionString="Server=e368e9b9-ac46-4967-83b0-a5370089d14d.sqlserver.sequelizer.com;Database=dbe368e9b9ac46496783b0a5370089d14d;User ID=eocowtgjqlhgpglj;Password=QXFvABeSV86ZNt3x6RWFeX2pxqKc7p565LXSpLkRCvV4XyStF3s4A5rZ5q7kYcTE;" />
    <!--<add name="Lemonade" providerName="System.Data.SqlClient" connectionString="Server=localhost\trunk; Database=Lemonade; Integrated security=true;" />-->
  </connectionStrings>

</configuration>