<title-bar title="Applications"></title-bar>

<div layout="row" ng-cloak>
    <md-content flex="" layout-padding>
        <md-input-container class="md-block">
            <label>Create a New Application</label>
            <input required ng-model="applicationName" type="text" ng-enter="addApplication(applicationName)" aria-label="Enter application name">
        </md-input-container>

        <md-list>
            <md-list-item ng-repeat="application in applications" class="animate">
                <div layout="row" layout-align="center center">
                    <md-input-container md-icon-float class="md-block">
                        <input ng-model="application.name" type="text" ng-enter="updateApplication(application)" aria-label="Update application name">
                    </md-input-container>

                    <md-button class="md-icon-button" ng-click="updateApplication(application)">
                        <md-icon>done</md-icon>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="deleteApplication(application.applicationId)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>