<title-bar title="Applications"></title-bar>

<div layout="row" ng-cloak>
    <md-content flex="25" layout-padding>

        <md-content layout-padding>

            <md-list id="application-list">
                <md-list-item ng-repeat="application in applications">
                    <md-label flex="60" ng-click="selectApplication(application)">{{application.name}}</md-label>

                    <div flex="40">
                        <md-button class="md-icon-button" ng-click="editFeatureForm.$show()" ng-hide="editFeatureForm.$visible">
                            <md-icon>mode_edit</md-icon>
                        </md-button>

                        <md-button class="md-icon-button" ng-click="deleteApplication(application.applicationId)">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

    </md-content>

    <md-content flex="75" layout-padding>

        <input type="text" name="name" class="form-control" ng-model="applicationName" placeholder="Application name...">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-md" ng-click="addApplication(applicationName)"><i class="glyphicon glyphicon-plus"></i> Add</span>
        </span>

    </md-content>
</div>