<div ng-cloak>
    <h1>Applications</h1>
    <hr />

    <ul class="list-group" id="application-list">
        <li class="application list-group-item animate" ng-repeat="application in applications">
            <label editable-text="application.name" onaftersave="updateApplication(application)" ng-click="selectApplication(application)" e-form="editFeatureForm">{{application.name}}</label>

            <div class="pull-right">
                <span class="glyphicon glyphicon-pencil btn btn-xs btn-success" ng-click="editFeatureForm.$show()" ng-hide="editFeatureForm.$visible"></span>
                <span class="glyphicon glyphicon-remove btn btn-xs btn-danger" ng-click="deleteApplication(application.applicationId)"></span>
            </div>
        </li>
    </ul>

    <div class="input-group">
        <input type="text" name="name" class="form-control" ng-model="applicationName" placeholder="Application name...">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-md" ng-click="addApplication(applicationName)"><i class="glyphicon glyphicon-plus"></i> Add</span>
        </span>
    </div>
</div>