<div ng-cloak>
    <h1>Configurations</h1>
    <hr />

    <div class="col-md-4">
        <h2>Applications</h2>

        <ul class="list-group" id="application-list">
            <li class="application list-group-item animate" ng-repeat="application in applications">
                <a href="" ng-click="selectApplication(application)">{{application.name}}</a>
            </li>
        </ul>
    </div>

    <div class="col-md-8 animate" ng-show="application != null">
        <h2>{{application.name}} - Configurations</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Configuration Name</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>

            <tbody ng-repeat="configuration in configurations" class="table animate">
                <tr class="configuration">
                    <td>
                        <div class="hide" name="applicationId">{{configuration.applicationId}}</div>
                        <div class="hide" name="configurationId">{{configuration.configurationId}}</div>
                        <a href="" editable-text="configuration.name" onaftersave="updateConfiguration(configuration)">{{configuration.name}}</a>
                    </td>
                    <td><a href="" editable-text="configuration.value" onaftersave="updateConfiguration(configuration)">{{configuration.value}}</a></td>
                    <td>
                        <div class="pull-right">
                            <div class="btn btn-xs btn-primary glyphicon glyphicon-list-alt accordion-toggle" data-toggle="collapse" data-target="#configuration-{{configuration.configurationId}}" title="View client overrides"></div>
                            <div class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="deleteConfiguration(configuration.configurationId)"></div>
                        </div>
                    </td>
                </tr>

            </tbody>

            <tbody>
                <tr />
                <tr>
                    <td>
                        <input name="applicationId" type="hidden" ng-model="newConfiguration.ApplicationId" />
                        <input name="name" ng-model="newConfiguration.Name" class="input-sm" placeholder="Configuration name" />
                    </td>
                    <td><input name="value" type="text" ng-model="newConfiguration.Value" /></td>
                    <td>
                        <button class="btn btn-primary pull-right" ng-click="addConfiguration(newConfiguration)">
                            <span><i class="glyphicon glyphicon-plus"></i> Add</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>