@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    Layout = "_Layout.cshtml";
}

<div ng-controller="lemonadeController" ng-app="lemonade" ng-cloak>
    <div class="col-md-4">
        <div class="well">
            <h2>Applications</h2>
            <hr />

            <ul class="list-group" id="application-list">
                <li class="application list-group-item animate" ng-repeat="application in applications">
                    <a href="#" editable-text="application.name" onaftersave="updateApplication(application)" ng-click="selectApplication(application)" e-form="editFeatureForm">{{application.name}}</a>

                    <div class="pull-right">
                        <span class="glyphicon glyphicon-pencil btn btn-xs btn-success" ng-click="editFeatureForm.$show()" ng-hfeatureOverrideOverrideIde="editFeatureForm.$visible"></span>
                        <span class="glyphicon glyphicon-remove btn btn-xs btn-danger" ng-click="deleteApplication(application.applicationId)"></span>
                    </div>
                </li>
            </ul>

            <hr />

            <div class="input-group">
                <input type="text" name="name" class="form-control" ng-model="applicationName" placeholder="Application name...">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-md" ng-click="addApplication(applicationName)"><i class="glyphicon glyphicon-plus"></i> Add</span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-8 animate" ng-show="application != null">
        <h2>{{application.name}} - Features</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Feature Name</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
            </thead>

            <tbody ng-repeat="feature in features" class="table table-striped animate">
                <tr class="feature">
                    <td>
                        <div class="hide" name="applicationId">{{feature.applicationId}}</div>
                        <div class="hide" name="featureId">{{feature.featureId}}</div>
                        <a href="#" editable-text="feature.name" onaftersave="updateFeature(feature)">{{feature.name}}</a>
                    </td>
                    <td><a href="#" editable-checkbox="feature.isEnabled" onaftersave="updateFeature(feature)">{{feature.isEnabled}}</a></td>
                    <td>
                        <div class="pull-right">
                            <div class="btn btn-xs btn-primary glyphicon glyphicon-list-alt accordion-toggle" data-toggle="collapse" data-target="#feature-{{feature.featureId}}" title="View client overrides"></div>
                            <div class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="deleteFeature(feature.featureId)"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div class="accordion-body collapse" id="feature-{{feature.featureId}}">
                            <h4>Client Overrides</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Hostname</th>
                                        <th>Enabled</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="animate" ng-repeat="featureOverride in feature.featureOverrides">
                                        <td>{{featureOverride.hostname}}</td>
                                        <td>{{featureOverride.isEnabled}}</td>
                                        <td>
                                            <div class="pull-right">
                                                <div class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="deleteFeatureOverride(featureOverride.featureOverrideId)"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>

            <tbody>
                <tr />
                <tr>
                    <td>
                        <input name="applicationId" type="hidden" ng-model="newFeature.ApplicationId" /><input name="name" ng-model="newFeature.Name" class="input-sm" />
                    </td>
                    <td><input name="isEnabled" type="checkbox" ng-model="newFeature.IsEnabled" /></td>
                    <td>
                        <button class="btn btn-primary pull-right" ng-click="addFeature(newFeature)">
                            <span><i class="glyphicon glyphicon-plus"></i> Add</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>