@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<Lemonade.Web.Models.FeatureModel>>

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lemonade</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
</head>
<body>
    <div class="page-header">
        <h1>Lemonade.</h1>
    </div>
    <div class="well container">
        <form action="/edit/" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Application Name</th>
                        <th>Feature Name</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var feature = Model[i];

                        <tr class="feature">
                            <td>@feature.ApplicationName</td>
                            <td>@feature.FeatureName</td>
                            <td>@feature.IsEnabled</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>