@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Lemonade.Web.Models.IndexModel>

@{
    Layout = "_Layout.cshtml";
}

<div class="col-md-5">
    <div class="well">
        <h2>Applications</h2>
        <hr />
        @for (int i = 0; i < Model.Applications.Count; i++)
        {
            var application = Model.Applications[i];

            <div class="application">
                @application.Name
            </div>
        }

        <form id="add-application-form" action="application" method="post">
            <div class="input-group">
                <input type="text" name="name" class="form-control" placeholder="Application name...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-md" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="col-md-7" id="application-form">
    <form action="/edit/" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Feature Name</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Features.Count; i++)
                {
                    var feature = Model.Features[i];

                    <tr class="feature">
                        <td>@feature.FeatureName</td>
                        <td>@feature.IsEnabled</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>