@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Lemonade.Web.Models.FeaturesModel>

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lemonade</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="page-header">
        <h1><span><i class="glyphicon glyphicon-glass"></i> Lemonade.</span></h1>
    </div>
    <div class="well container">
        <form action="/edit/" method="post">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Feature Name</th>
                    <th>Value</th>
                </tr>
                </thead>

                <tbody>
                @for (int i = 0; i < Model.Features.Count; i++)
                {
                    var feature = Model.Features[i];

                    <tr class="feature">
                        <td><input type="text" value="@feature.Name" name="@string.Format("features[{0}].Name", i)"/></td>
                        <td><input type="text" value="@feature.IsEnabled" name="@string.Format("features[{0}].IsEnabled", i)"/></td>
                    </tr>
                }
                </tbody>
            </table>

            <input type="submit" value="Go, Go, Go!"/>
        </form>
    </div>
</body>
</html>