@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    Layout = "_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Lemonade is a feature-switching framework which allows you to configure and manage your configurations
       from a web portal, retrievable via a RESTful service.</p>
</div>