<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lemonade</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/thesheps/lemonade/master/src/nuget-icon.png" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/lemonade.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" />

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/signalr/jquery.signalR.min.js"></script>
    <script src="/signalr/hubs"></script>
</head>

<body layout="row" ng-app="lemonade" ng-controller="indexController" ng-cloak>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="sideNav" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall md-hue-2" layout-padding>
            <span flex></span>
            <h1>Lemonade</h1>
        </md-toolbar>

        <md-list>
            <md-list-item ng-href="/#/Applications">Applications</md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-href="/#/Features">Features</md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-href="/#/Configurations">Configurations</md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-href="/#/About">About</md-list-item>
        </md-list>
    </md-sidenav>

    <div ng-view layout="column" flex="">
    </div>

    <script src="scripts/controllers/application.controller.js"></script>
    <script src="scripts/controllers/index.controller.js"></script>
    <script src="scripts/controllers/configuration.controller.js"></script>
    <script src="scripts/controllers/feature.controller.js"></script>
    <script src="scripts/services/toast.service.js"></script>
    <script src="scripts/services/event.service.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/titleBar.directive.js"></script>
    <script src="scripts/directives/multiInput.directive.js"></script>
    <script src="scripts/directives/ngEnter.directive.js"></script>
</body>

</html>