<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lemonade</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/thesheps/lemonade/master/src/nuget-icon.png" />

    <link rel="stylesheet" href="styles/animations.css"/>
    <link rel="stylesheet" href="styles/lemonade.css"/>
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/signalr/jquery.signalR.min.js"></script>

    <script src="/signalr/hubs"></script>

</head>

<body ng-app="lemonade" ng-controller="indexController" ng-cloak>
    <md-toolbar layout="row" class="md-toolbar-tools">
        <a href="/#/Applications">Applications</a>
        <a href="/#/Features">Features</a>
        <a href="/#/Configurations">Configurations</a>
        <a href="/#/About">About</a>
    </md-toolbar>

    <div ng-view layout="column">
    </div>

    <script src="scripts/lemonade/app.js"></script>
    <script src="scripts/lemonade/handlers/application.js"></script>
    <script src="scripts/lemonade/handlers/configuration.js"></script>
    <script src="scripts/lemonade/handlers/feature.js"></script>
    <script src="scripts/lemonade/services/event.service.js"></script>

    <script src="scripts/lemonade/controllers/index.controller.js"></script>
    <script src="scripts/lemonade/controllers/application.controller.js"></script>
    <script src="scripts/lemonade/controllers/configuration.controller.js"></script>
    <script src="scripts/lemonade/controllers/about.controller.js"></script>
    <script src="scripts/lemonade/controllers/feature.controller.js"></script>
</body>

</html>
