<title-bar title="Resources"></title-bar>

<div layout="row">
    <md-content flex="" layout-padding>
        <md-input-container class="md-block">
            <label>Please select an application</label>
            <md-select ng-model="ctrl.userState">
                <md-option ng-repeat="application in applications" ng-click="selectApplication(application)">
                    {{application.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Locale</label>
            <md-select ng-model="criteria.locale" ng-change="newResource.localeId = criteria.locale">
                <md-option ng-repeat="locale in locales" ng-value="locale.localeId">
                    {{locale.isoCode}} - {{locale.description}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-list-item layout="row" ng-show="application != null" layout-align="start center">
            <md-input-container class="md-icon-float md-block" flex="20">
                <label>Resource set</label>
                <md-icon>add_circle</md-icon>
                <input ng-model="newResource.resourceSet" type="text" ng-enter="addResource(newResource)">
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex="20">
                <label>Resource key</label>
                <input ng-model="newResource.resourceKey" type="text" ng-enter="addResource(newResource)">
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex="20">
                <label>Value</label>
                <textarea ng-model="newResource.value" type="text" ng-enter="addResource(newResource)"></textarea>
            </md-input-container>

            <md-button class="md-icon-button" ng-click="addResource(newResource)">
                <md-icon>done</md-icon>
            </md-button>
        </md-list-item>

        <md-list md-show="">
            <md-list-item>
                <div ng-show="resources != null" layout="column">
                    <h3 class="md-headline">Filters</h3>

                    <div layout="row">
                        <md-input-container class="md-block" flex="30">
                            <label>Resource set</label>
                            <input ng-model="criteria.resourceSet" />
                        </md-input-container>

                        <md-input-container class="md-block" flex="30">
                            <label>Resource key</label>
                            <input ng-model="criteria.resourceKey" />
                        </md-input-container>

                        <md-input-container class="md-block" flex="30">
                            <label>Value</label>
                            <input ng-model="criteria.value" />
                        </md-input-container>
                    </div>
                </div>
            </md-list-item>

            <md-list-item />

            <md-list-item ng-repeat="resource in resources | filter:resourceFilter(criteria)" class="animate" layout-padding>
                <md-input-container class="md-icon-float md-block" flex="20">
                    <label>Resource set</label>
                    <input ng-model="resource.resourceSet" type="text" ng-enter="updateResource(resource)">
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex="20">
                    <label>Resource key</label>
                    <input ng-model="resource.resourceKey" type="text" ng-enter="updateResource(resource)">
                </md-input-container>

                <md-input-container class="md-icon-float md-block" flex="20">
                    <label>Value</label>
                    <input ng-model="resource.value" type="text" ng-enter="updateResource(resource)">
                </md-input-container>

                <md-button class="md-icon-button" ng-click="deleteResource(resource.resourceId)" flex="10">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>