<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package featureOverrideId="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package featureOverrideId="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package featureOverrideId="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package featureOverrideId="Nancy" version="1.2.0" targetFramework="net45" />
  <package featureOverrideId="Nancy.Hosting.Self" version="1.2.0" targetFramework="net45" />
  <package featureOverrideId="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package featureOverrideId="NUnit" version="2.6.4" targetFramework="net45" />
  <package featureOverrideId="Owin" version="1.0" targetFramework="net45" />
</packages>