<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="Nancy" />
      <add namespace="Nancy.ViewEngines.Razor" />
    </assemblies>
    <namespaces>
      <add namespace="Nancy" />
      <add namespace="Nancy.ViewEngines.Razor" />
    </namespaces>
  </razor>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <trace enabled="true" pageOutput="true" requestLimit="40" localOnly="false"/>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>

</configuration>